$output-bourbon-deprecation-warnings: false;
// @import "mq";
@import "sass/bourbon/app/assets/stylesheets/bourbon";
// If you want to override variables do it here
@import "fonts";
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "sass/main";
@import "custom";
@import "_root";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
@import "components/form-wrap";
@import "components/top-nav";
@import "components/footer";
@import "components/social";
@import "components/menu-mobile";
@import "components/progressBlock";
@import "components/ThemeSection";
@import "components/TheCharts";
@import "components/TheLoacations";
@import "components/modal";