.TheCharts{
	display: flex;
	@include roww(rem(46));
	// justify-content: space-between;
	justify-content: space-around;
	// margin-bottom: rem(30);
}
.TheCharts-item{
	color: #ffffff;
	text-align: center;
	p{
		@extend .mono;
		font-size: var(--f20);
		margin-bottom: rem(10);
		text-align: center;
		strong{
			display: block;
			line-height: 1;
			font-weight: normal;
			font-size: 1.6em;
		}
	}
	&__caption{
		font-size: 12px;
	}
 
}